* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 12px;
  font-weight: normal;
  font-family: sans-serif;
}


.container {
  max-width: 1350px;;
  margin: 0 auto;
}

.header {
  padding: 10px;
  background: grey;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products {
  display: flex;
  justify-content: space-between;
}

.product {
  border: 1px solid rgb(185, 184, 184);
  height: 400px;
  width: 268px;
  padding: 20px;
}

.product__photo {
  margin-bottom: 30px;
}

.product__name {
  text-align: center;
  height: 40px;
}

.product__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 20px;
}

.star {
  font-size: 30px; 
  color: yellow;
  display: flex;
}

.text {
  color:black;
}

.plan {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.plan img {
  height: 20px;
  width: 20px;
  margin-left: 20px;
}

.paw {
  height: 20px;
  width: 20px;
  margin-left: 30px;
}

.product__price-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: red;
}

.product__price {
  font-size: 20px;
}

.product__add-cart {
  font-size: 30px;
  color: green;
  border-radius: 50%;
  border: 2px solid green;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__add-cart:hover {
  background: #155515;
  color: white;
  border-color: #155515; 
}

.cart-container {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
}

h2 {
  margin-bottom: 20px;
}

.cart-product {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-product__photo {
  max-width: 100%;
  margin: 0 30px 0 0;
}

.cart-product__name {
  font-weight: bold;
  width: 300px;
  margin-right: 20px;
}

.cart-product__price {
  color: red;
  width: 100px;
}

.close-cart-btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}